//
// Header
//
header
  width: 340px
  position: fixed
  top: 0
  left: 0
  height: 100%
  transition: all .3s ease-out
  background: url(../images/bg_menu.png)
  background-repeat: no-repeat!important
  background-size: cover!important

  .logo
    padding: 40px 30px
    display: block

  nav
    border-top: 1px solid #fff

    #menu-main
      margin: 0
      padding: 25px
      li
        list-style: none
        a
          color: #000
          text-decoration: none
          font-size: 16px
          font-family: $font_medium
          padding: 10px 0
          display: inline-block
          transition: all .3s
          &:hover
            color: $main_color
            text-decoration: none


  .link-presentation
    display: block
    font-family: $font_medium
    color: #fff
    background-color: $main_color
    border-radius: 5px
    padding: 11px 0
    text-align: center
    margin: 0 25px
    transition: all .3s
    &:hover
      text-decoration: none
      background-color: $gray_color



#top-bar
  position: relative
  z-index: 5


//
// Top bar
//
body:not(.home) #top-bar
  background: url(../images/bar.jpg)
  background-repeat: no-repeat!important
  width: 100%
  background-size: cover!important
  padding-bottom: 32px

#top-bar
  padding-top: 40px
  .first-column
    padding-left: 0

  .email-block,
  .phone-block
    display: inline-block
    .img-block
      display: inline-block
      img
        vertical-align: middle
        padding-right: 12px

    .content
      display: inline-block
      a
        line-height: 43px
        text-decoration: none
        transition: all .3s
        color: #fff
        font-size: 18px
        transition: all .3s
        span
          font-family: $font_medium

        &:hover
          color: $gray_color
          text-decoration: none



  .email-block
    margin-left: 40px
    a
      font-family: $font_medium


  .link-call
    margin: 0 0 0 auto
    display: table



  #menu
    a
      color: #000

