$font_bold: 'Gotham Pro Bold'
$font_light: 'Gotham Pro Light'
$font_medium: 'Gotham Pro Medium'
$font_regular: 'Gotham Pro Regular'


$main_color: #4498E5
$gray_color: #333

@font-face
  font-family: 'Gotham Pro Bold'
  src: url('GothaProBol.woff') format('woff'),
  url('GothaProBol.ttf') format('truetype')
  font-display: swap
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Gotham Pro Light'
  src: url('GothaProLig.woff') format('woff'),
  url('GothaProLig.ttf') format('truetype')
  font-weight: normal
  font-display: swap
  font-style: normal



@font-face
  font-family: 'Gotham Pro Medium'
  src: url('GothaProMed.woff') format('woff'),
  url('GothaProMed.ttf') format('truetype')
  font-weight: normal
  font-display: swap
  font-style: normal


@font-face
  font-family: 'Gotham Pro Regular'
  src: url('GothaProReg.woff') format('woff'),
  url('GothaProReg.ttf') format('truetype')
  font-weight: normal
  font-display: swap
  font-style: normal

@mixin placeholder
  &::-webkit-input-placeholder
    @content
  &:-moz-placeholder
    @content
  &::-moz-placeholder
    @content
  &:-ms-input-placeholder
    @content

*,
*:focus,
*:active
  outline: none

.title
  font-size: 32px
  color: #fff
  font-family: $font_bold
  margin-top: 175px
  &.black
    color: #313131
    margin-top: 30px
    margin-bottom: 43px

.site-content-contain
  margin-left: 340px
  position: relative


@mixin clearfix()
  &::after
    display: block
    content: ""
    clear: both

@mixin clearfix_before()
  &::before
    display: block
    content: ""
    clear: both


.site-content
  @include clearfix



.hide-title
  margin: 0
  height: 0
  overflow: hidden



.container-custom
  width: 959px
  margin: 0 auto



.flex-container
  display: -ms-flexbox
  display: -webkit-flex
  display: flex



a.link
  background: #FFFFFF
  border-radius: 5px
  color: #313131
  text-align: center
  display: inline-block
  padding: 11px 15px
  font-family: $font_medium
  transition: all .3s
  &:hover
    background-color: $main_color
    color: #fff
    text-decoration: none

a.link-alt
  display: inline-block
  border: 2px solid #FFFFFF
  border-radius: 5px
  font-family: $font_medium
  color: #fff
  text-decoration:  none
  padding: 16px 48px
  transition: all .3s
  &:hover
    text-decoration: none
    border-color: $main_color
    background-color: $main_color



.relative
  position: relative


.sub-title
  color: #313131
  font-size: 32px
  font-family: $font_bold
  margin-top: 0



.white-title
  color: #fff



.flex-space-beetwen
  display: -ms-flexbox
  display: -webkit-flex
  display: flex
  -webkit-flex-direction: row
  -ms-flex-direction: row
  flex-direction: row
  -webkit-flex-wrap: nowrap
  -ms-flex-wrap: nowrap
  flex-wrap: nowrap
  -webkit-justify-content: space-between
  -ms-flex-pack: justify
  justify-content: space-between
  -webkit-align-content: stretch
  -ms-flex-line-pack: stretch
  align-content: stretch
  -webkit-align-items: center
  -ms-flex-align: center
  align-items: center



//
// Breadscrumb
//
.breadcrumbs
  padding: 60px 0 0 0
  margin: 0
  li
    list-style: none
    span,
    a
      font-family: $font_regular
      color: #000
      text-decoration: underline
    span.current
      color: #9e9c9c
      text-decoration: none

  .sep
    padding: 0 5px




#primary
  position: relative
  margin-bottom: 80px
  &:before
    background: url(../images/bg-main.png)
    background-repeat: no-repeat!important
    display: block
    content: ""
    width: 583px
    height: 128px
    position: absolute
    top: -5px
    left: 0



@import "header.sass"
@import "main.sass"
@import "footer.sass"